body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* Cor de fundo suave */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% da altura da viewport */
}

.centre {
  text-align: center;
}

h1 {
  font-size: 2em; /* Tamanho do texto do relógio */
  margin-bottom: 20px; /* Espaçamento inferior */
}

label, input, button {
  font-size: 1em; /* Tamanho do texto do label, input e botão */
  margin-bottom: 10px; /* Espaçamento inferior */
}

input {
  width: 60px; /* Largura do input */
  padding: 5px; /* Espaçamento interno */
}

button {
  padding: 10px 20px; /* Espaçamento interno no botão */
  cursor: pointer;
  background-color: #4caf50; /* Cor de fundo verde */
  color: #fff; /* Cor do texto branco */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */

  &:hover {
    background-color: #45a049; /* Cor mais escura no hover */
  }
}
