* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
nav div {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
body {
  /* width: 100%;
  min-width: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f); */
  background-image: url(https://chrisowen101.github.io/ToDoListSolution/assets/world.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
  /* padding: 10px; */
}
body img {
  width: 30%;
  height: 30%;
}
.container {
  margin: 0rem 0rem 0rem 24rem;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 6px 4px 60px;
  border-radius: 6px;
}
.todo-app h2 {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  font-size: 17px;
  font-weight: 100;
}
.row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4px;
  margin: 12px;
  /* background: #edeef0; */
  /* border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px; */
}

input {
  padding: 12px;
  width: 50%;
  border-radius: 3px;
  border: solid 0.3px gray;
  /* flex: 1;
  border: none;
  outline: none; */
  /* background: transparent; */
  /* margin: 12px; */
}
button {
  border: none;
  outline: none;
  padding: 12px 30px;
  color: white;
  background-color: blue;
  font-size: 16px;
  cursor: pointer;
  /* border-radius: 40px; */
  margin: 12px;
  border-radius: 3px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(https://cdn-icons-png.flaticon.com/128/10914/10914668.png);
  background-size: cover;
  background-position: center;
  top: 13px;
  left: 8px;
}
ul li.checked {
  color: red;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(https://cdn-icons-png.flaticon.com/128/5610/5610944.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: red;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background: black;
  border-radius: 50%;
}
