/** Write your CSS in here **/
body{
    background-color: rgb(74, 149, 149);
 
}

#carousel{
    margin-top: 100px;
   margin-left: 400px;
}
h2{
    margin-left: 100px;
    font-size: 2em;
}

#image{
    width: 40%;
    border: 10px solid palevioletred;
    border-radius: 9px;
    margin-left: 100px;
}
button{
    display: inline;
    margin: 15px;
    padding: 15px 15px;
    border-radius: 12px;
    border: 5px solid palevioletred;
}
.hr{
    border: 1px solid rgb(63, 56, 56);
    width: 100%;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 598px){
    body{
        background-color: rgb(109, 103, 95);
    }
    #carousel{
        margin-left: 0px;
    }
    #image{
        width: 60%;
        margin-left: 50px;
    }

    h2{
        margin: 0px;
    }
}