* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1D1D1B;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.layout {
  margin-top: 3rem;
  text-align: center;
  column-gap: 1.6rem;
}

.btn {
  height: min-content;
  padding: 0.7rem 1.2rem;
  border: 1px solid #7C9521;
  font-size: 1.3rem;
  background-color: #f7941d;
  color: #1D1D1B;
  transition: ease-in-out 0.8s;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 0.6rem;
}

#carousel-img {
  border: 5px solid #00A6D4;
}
