
/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */


 body{
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
}
