/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
#title {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

#background-imag {
  height: 30%;
  border: black solid 3px;
}
#li {
  width: 22%;
  height: 14%;
}
