/** Write your CSS in here **/
body{
    font-family:sans-serif;
    font-size: 30px;
    background-color: rgb(187, 156, 156);
    margin: 0;
    padding: 0;
    
}

.layout{
    border: 6px solid ;
   background-color: rgb(137, 94, 94);
    margin-top: 200px;
    width: 90%;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    margin-left: 60px;
}
.content{
    color: rgb(50, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side{
    color: rgb(50, 32, 32);;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}
button{
    font-size: 0.6em;
    font-weight: bold;
    padding: 15px 19px;
    border: none;
    border-radius: 5px;
    background-color:  rgb(187, 156, 156);
    color: rgb(57, 43, 43);
}
/* #check-box{
    position: absolute;
    margin-top: 80px;
} */